/* line 17, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5 */
p, dd {
  text-align: justify;
}

/* line 9 */
footer {
  padding-bottom: 30px;
}

/* line 13 */
.center {
  text-align: center !important;
}

/* line 17 */
.post-comments {
  float: right;
}

/* line 21 */
.prettyprint {
  text-align: left !important;
}

/* line 25 */
a.icon32 {
  height: 30px;
}

/* line 29 */
ul.icons li {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* line 35 */
.social-menu {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 46 */
.posts .post {
  margin-bottom: 40px;
}

/* line 51 */
.post h2 > a {
  margin-right: 15px;
}
/* line 55 */
.post h2, .post .content, .post .footer {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 10px;
}
/* line 60 */
.post .footer {
  padding-bottom: 10px;
}
/* line 64 */
.post h2 a:hover {
  text-decoration: none;
}
/* line 68 */
.post .meta {
  margin-bottom: 10px;
}
/* line 72 */
.post a.tag {
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  text-decoration: none;
}
/* line 82 */
.post a.tag:hover {
  background-color: #B94A48;
}

/* line 88 */
.project a.tag {
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  text-decoration: none;
}
/* line 98 */
.project a.tag:hover {
  background-color: #B94A48;
}

/* line 104 */
.todo a.btn {
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 110 */
.todo .title a.btn:last-child {
  margin-right: 0px;
}
/* line 115 */
.todo #levels li.task a {
  white-space: nowrap;
  display: inline;
  margin-left: 0px;
}
/* line 121 */
.todo #levels .progress {
  display: none;
}
/* line 126 */
.todo #levels.show-progress .progress {
  display: block;
}

/* line 131 */
.post-date {
  margin-bottom: 5px;
}

/* line 139 */
.project dl.dl-horizontal dt, .project dl.dl-horizontal dd {
  margin-bottom: 5px;
}

/* line 143 */
li.pdf, li.odt {
  background-repeat: no-repeat;
  padding-left: 25px;
  margin-bottom: 5px;
}

/* line 149 */
li.pdf {
  background-image: url("/images/icons/pdf_16.png");
}

/* line 153 */
li.odt {
  background-image: url("/images/icons/odt_16.png");
}

/* line 157 */
.title {
  background: url("/images/titlebackground.png") repeat scroll 0 0 #474747;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  line-height: 1;
}

/* line 166 */
.title h1 {
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 65px;
  color: #999999;
  text-shadow: #2a2a2a 0px 3px 8px;
}

/* line 175 */
.title h6 {
  font-size: 16px;
  line-height: 30px;
}

/* line 180 */
ul.twitter-list li {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #E5E5E5;
}

/* line 186 */
ul.twitter-list li.nav-header {
  margin-top: 0px;
  border-bottom: 0px;
}
