html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

p, dd, div.alert {
  text-align: justify;
}

footer {
  padding-bottom: 30px;
}

.center {
  text-align: center !important;
}

.post-comments {
  float: right;
}

.prettyprint {
  text-align: left !important;
}

a.icon32 {
  height: 30px;
}

ul.icons li {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}

.social-menu {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  margin-bottom: 10px;
}

.posts .post {
  margin-bottom: 40px;
}

.post h2 > a {
  margin-right: 15px;
}
.post h2, .post .content, .post .footer {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 10px;
}
.post h2 a:hover {
  text-decoration: none;
}
.post h3 {
  padding-top: 20px;
}
.post .content {
  padding-bottom: 15px;
}
.post .footer {
  padding-bottom: 10px;
}
.post .meta {
  margin-bottom: 10px;
}
.post a.tag {
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  text-decoration: none;
}
.post a.tag:hover {
  background-color: #B94A48;
}

.project a.tag {
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  text-decoration: none;
}
.project a.tag:hover {
  background-color: #B94A48;
}

.todo a.btn {
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}
.todo .title a.btn:last-child {
  margin-right: 0px;
}
.todo #levels li.task a {
  white-space: nowrap;
  display: inline;
  margin-left: 0px;
}
.todo #levels .progress {
  display: none;
}
.todo #levels.show-progress .progress {
  display: block;
}

.post-date {
  margin-bottom: 5px;
}

.project dl.dl-horizontal dt, .project dl.dl-horizontal dd {
  margin-bottom: 5px;
}

li.resume {
  background-repeat: no-repeat;
  padding-left: 35px;
  margin-bottom: 5px;
  background-position: 0px 3px;
}

li.pdf {
  background-image: url("/images/icons/pdf_16.png");
}

li.odt {
  background-image: url("/images/icons/odt_16.png");
}

.title {
  background: url("/images/titlebackground.png") repeat scroll 0 0 #474747;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  line-height: 1;
}

.title h1 {
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 65px;
  color: #999999;
  text-shadow: 0px 3px 8px #2a2a2a;
}

.title h6 {
  font-size: 16px;
  line-height: 30px;
}

ul.twitter-list li {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #E5E5E5;
}

ul.twitter-list li.nav-header {
  margin-top: 0px;
  border-bottom: 0px;
}

.bot10 {
  margin-bottom: 10px;
}

.bot15 {
  margin-bottom: 15px;
}

.bot20 {
  margin-bottom: 20px;
}

.required {
  color: red;
}

.carousel {
  margin: 0px auto;
}

.carousel .item > img {
  width: 100%;
}

.tag-cloud .tag-0 {
  font-size: 1em;
  opacity: 0.8;
}
.tag-cloud .tag-1 {
  font-size: 1.15em;
  opacity: 0.85;
}
.tag-cloud .tag-2 {
  font-size: 1.3em;
  opacity: 0.9;
}
.tag-cloud .tag-3 {
  font-size: 1.45em;
  opacity: 0.95;
}
.tag-cloud .tag-4 {
  font-size: 1.6em;
  opacity: 1;
}
.tag-cloud .tag-5 {
  font-size: 1.75em;
  opacity: 1;
}
.tag-cloud .tag-6 {
  font-size: 1.9em;
  opacity: 1;
}
.tag-cloud .tag-7 {
  font-size: 2.05em;
  opacity: 1;
}
.tag-cloud .tag-8 {
  font-size: 2.2em;
  opacity: 1;
}
.tag-cloud .tag-9 {
  font-size: 2.35em;
  opacity: 1;
}
.tag-cloud .tag-10 {
  font-size: 2.5em;
  opacity: 1;
}
.tag-cloud .tag-11 {
  font-size: 2.65em;
  opacity: 1;
}
